.ribbonImageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 10px;
  max-width: 725px;
  width: 100%;
  margin-top: 20px;
}
.ribbonImageWrapper .ribbonImageWrapper__card {
  height: 200px;
  width: 235px;
  border-radius: 20px;
  overflow: hidden;
}

.ribbonImageWrapper .ribbonImageWrapper__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 770px) {
  .ribbonImageWrapper .ribbonImageWrapper__card {
    height: 204px;
    width: 200px;
    border-radius: 20px;
  }
  .ribbonImageWrapper {
    grid-template-columns: repeat(3, 200px);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 662px) {
  .ribbonImageWrapper .ribbonImageWrapper__card {
    height: 168px;
    width: 170px;
    border-radius: 20px;
  }
  .ribbonImageWrapper {
    grid-template-columns: repeat(3, 170px);
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 565px) {
  .ribbonImageWrapper .ribbonImageWrapper__card {
    height: 128px;
    width: 130px;
    border-radius: 20px;
  }
  .ribbonImageWrapper {
    grid-template-columns: repeat(3, 130px);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 452px) {
  .ribbonImageWrapper .ribbonImageWrapper__card {
    height: 92px;
    width: 94px;
    border-radius: 20px;
  }
  .ribbonImageWrapper {
    grid-template-columns: repeat(3, 94px);
    align-items: center;
    justify-content: center;
  }
}
