.publicationDate {
  font-family: "Inter-regular";
  font-weight: 400;
  font-size: 12px;
  color: #9395b8;
  line-height: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.publicationDate .circle {
  width: 3px;
  height: 3px;
  background-color: #9395b8;
  border-radius: 50%;
}
