@import url("./fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

.container {
  max-width: 1192px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  z-index: 99999999999 !important;
}

.MuiPopover-root {
  z-index: 9999999999999 !important;
}
.select__menu-item {
  gap: 8px;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  z-index: 99999999999 !important;
}

.MuiPopover-root {
  z-index: 9999999999999 !important;
}
.MuiSelect-select {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 100 !important;
  gap: 8px !important;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
  outline: none !important;
}
.main__ribbon-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 761px 300px;
  grid-template-rows: 294px 540px;
  gap: 15px 15px;
  grid-template-areas:
    "ribbon filter"
    "ribbon advertising";
}
.ribbon {
  grid-area: ribbon;
}
.filter {
  grid-area: filter;
  padding: 24px 20px;
  height: 294px;
}
.advertising {
  grid-area: advertising;
}
@media (max-width: 930px) {
  .main__ribbon-wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "filter"
      "ribbon"
      "advertising";
  }
  .filter {
    grid-area: filter;
    min-height: 294px;
  }
  .ribbon {
    grid-area: ribbon;
    min-height: 540px;
  }
  .advertising {
    grid-area: advertising;
    min-height: 540px;
  }
}

body.lock {
  overflow: hidden;
}
.mui_select {
  width: 100%;
}
